@tailwind base;
@tailwind components;
@tailwind utilities;

.item-picker-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 100px 482px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "search search selected selected";
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 620px;
  gap: 15px
}

.header {
  grid-area: header;
  margin-left: 5px;
}

.header h1 {
  font-size: 22px;
}

.item-picker {
  grid-area: search;
}

.items-selected {
  grid-area: selected;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.live-link {
  color: blue;
  text-decoration: underline;
}

.page-format {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-format .region-search {
  flex-direction: row;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.login-form-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-width: 0 1px;
  border-radius: 5px;
}

.submit-form {
  background-color: #777;
  width: 100px;
}

.page-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
}

.card {
  border: 2px solid #007bff; /* Adds a border to the card */
  border-radius: 10px; /* Rounds the corners of the card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effects */
}

.card:hover {
  transform: scale(1.05); /* Slight enlargement when hovered */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* More prominent shadow */
}

.card-title {
  font-size: 1.5em; /* Sets the font size for the title */
  color: #0056b3; /* Changes the text color */
  font-weight: bold; /* Makes the title bold */
}

.card-text {
  font-size: 1em; /* Sets the font size for the description */
  color: #333; /* Standard text color */
}

.container {
  margin-top: 50px; /* Adds top spacing to the container */
}

.row {
  margin-bottom: 20px; /* Adds spacing between rows of tiles */
}

.tile {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  background-color: #f9f9f9;
}